body,
html{
    overflow: hidden;
    margin: 0;
  }



.image {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  z-index: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

.text {
  color: #F5F5F5			;
  font-family: Barlow, Verdana, sans-serif;
  z-index: 5;
}

.text-center {
  color: #fff;
  margin-top: 20%;
  z-index: 3;
}

img {
  position: absolute;
  margin: 20px;
}


h1 {
  font-size: 400%
}

.identity {
  font-size: 120%;
}

.textbox {
  background-color: rgba(28, 28, 28, 0.7);
  padding: 10px;
  margin-top: 15%;
  font-size: 2.3vh;
  border-radius: 3px;
  z-index: 4;
}

.subheading {
  color: #fff;
  padding: 15px;
  margin-top: 15%;
  font-size: 2.2vh;
  border-radius: 3px;
  z-index: 4;
}

.footer {
  font-size: 1.7vh;
  color: #D0D0D0	;
}

#intro {
     background-image: url('../images/intro.jpg');
}

.boat {
  background-image: url('../images/boat.jpg');
}

.guard{
  background-image: url('../images/guard.jpg');
}

.welcome {
  background-image: url('../images/welcome.jpg');
}

.antiimmigrant {
  background-image: url('../images/antiimmigrant.jpg');
}

.market{
  background-image: url('../images/market.jpg');
}

.tunnel{
  background-image: url('../images/tunnel.jpg');
}

.falafel2{
  background-image: url('../images/falafel2.jpg');
}

.fruits{
  background-image: url('../images/fruits.jpg');
}

.metro3{
  background-image: url('../images/metro3.jpg');
}

.belgium{
  background-image: url('../images/belgium.jpg');
}

.algeria{
  background-image: url('../images/algeria.jpg');
}

.lyon{
  background-image: url('../images/lyon.jpg');
}

.jean2{
  background-image: url('../images/jean2.jpg');
}

.workers {
  background-image: url('../images/workers.jpg');
}

.kids {
  background-image: url('../images/kids.jpg');
}

.movie {
  background-image: url('../images/movie.jpg');
}

.supermarket {
  background-image: url('../images/supermarket.jpg');
}

.lepen {
  background-image: url('../images/lepen.jpg');
}

.afd {
  background-image: url('../images/afd.jpg');
}

.dual {
  background-image: url('../images/dual.jpg');
}

#container1 {
	height: 325px;
	max-width: 800px;
  margin-top: 10px;
}
#container2 {
	height: 340px;
	max-width: 800px;
  margin-top: 20px;
}

#container3 {
	height: 320px;
	max-width: 800px;
  margin-top: 20px;
}

.modal-content {
  background-color: rgba(225, 225, 225, 0.9);

}

.btn_round_outline {
	border-radius: 5px;
  background: none;
  padding: 12px 22px;
  border: 1px solid #fff;
  color: #fff;
}
.btn_small {
  padding: 6px 11px;
}

.back {

  padding: 9px 12px;
  margin-left: 10px;
  margin-top: 45vh;
  z-index: 10;
}

.next {

  padding: 9px 12px;
  margin-right: 10px;
  margin-top: 45vh;
  z-index: 10;
}


.btn_round_outline:active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.btn_round_outline:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

a {
  color: #D4AC0D;
}

a:hover {
  color: #EB984E;
  text-decoration: none;
}


.modal-dialog {
   position: sticky;
   top:35px;
   right:90px;
   left:auto;
   bottom:0;
   font-family: Barlow, Verdana, sans-serif;
}

#modal_btn1 {
  margin-top: 10px;
}

#modal_btn2 {
  margin-top: 30px;
}
