body,
html{
    overflow: hidden;
    margin: 0;
  }



.image {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  z-index: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.text {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.text-center {
  color: #fff;
  margin-top: 20%;
  z-index: 3;
}

img {
  position: absolute;
  margin: 20px;
}

#intro {
     background-image: url('../images/intro.jpg');
}

h1 {
  font-size: 400%
}

#explanation1 {
  background-image: url('../images/boat.jpg');
}

.textbox {
  padding: 15px;
  margin-top: 20%;
  font-size: 2.1vh;
}

#explanation2 {
  background-image: url('../images/line.jpg');
}

#explanation3 {
  background-image: url('../images/line.jpg');
}

#container {
	height: 500px;
	min-width: 310px;
	max-width: 800px;
}




.btn_round_outline {
	border-radius: 24px;
  background: none;
  padding: 12px 22px;
  border: 2px solid #fff;
  color: #fff;
}

.back {
  padding: 9px 14px;
  margin-left: 10px;
  margin-top: 50vh;
}

.next {
  padding: 9px 14px;
  margin-right: 10px;
  margin-top: 50vh;
}

.btn_round_outline:active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.btn_round_outline:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
